body {
    background: white;
}

.form-control:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

#main-content {
    margin-top: 10px;

    .show-grid [class^=col-] {
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
        padding: 10px 0 10px 10px;
    }
}

#navbar {
    width: 100%;
    height: 5vh;
    display: block;
    background: #445663;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

    a {
        color: white;
        display: block;
        text-decoration: none;
        height: 100%;
        padding: 1.5vh 0.5vh;

        &:hover {
            background-color: lighten(#445663, 10%);
        }
    }

    ul {
        list-style-type: none;
        height: 100%;
        text-align: center;
        padding: 0 40px;

        li {
            display: inline-block;
            height: 100%;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }

    img {
        height: 100%;
        display: inline;
        padding: 5px 0;
    }
}
