body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.form-control:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

#main-content {
    //margin-top: 10px;

    .show-grid [class^=col-] {
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
        padding: 10px 0 10px 10px;
    }
}

#navbar {
    width: 100%;
    height: 6vh;
    display: block;
    background: #445663;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;

    a {
        color: white;
        display: flex;
        text-decoration: none;
        height: 100%;
        line-height: 100%;
        padding: 0 0.5vw;
        align-items: center;

        &:hover {
            background-color: lighten(#445663, 10%);
            cursor: pointer;
        }
    }

    ul {
        list-style-type: none;
        height: 100%;
        text-align: center;
        padding: 0 40px;

        li {
            display: inline-block;
            height: 100%;

            a span {
                font-size: 40px;
            }
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }

    img {
        height: 100%;
        display: inline;
        padding: 5px 0;
    }
}
