#logo {
    margin-top: 5em;
    margin-bottom: 2em;
}

.auth-container {
    width: 100%;
    min-height: 100vh;
    background: #445663;
    a {
        color: white;
    }
}

.auth-form {

    .input-group-addon {
        background: none;
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        //border-radius: 50px 0 0 50px;
        padding-left: 25px;
    }

    input:not([type="submit"]):not([type="button"]) {
        background-color: rgba(0, 0, 0, 0.2);
    }

    input {
        height: 55px;
        //border-radius: 50px;
        border: none;
        color: #ffffff;

        &::-webkit-input-placeholder {
            color: #ffffff !important;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: #ffffff !important;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: #ffffff !important;
        }

        &:-ms-input-placeholder {
            color: #ffffff !important;
        }
    }

    hr {
        border-top: 1px solid lighten(#445663, 20);
    }
}
