#logo {
    margin-top: 5em;
    margin-bottom: 1em;
}

.login-form {

    /*
    .usericon {
        display: block;
        width: 14px;
        height: 14px;
        background-position: -48px 0;
        position: absolute;
        padding-left: 20px;
        padding-top: 17px;
        opacity: 1.0;
        z-index: 1000;
        color: #ffffff;
    }

    .lockicon {
        display: block;
        width: 14px;
        height: 14px;
        background-position: -48px 0;
        position: absolute;
        padding-left: 20px;
        padding-top: 18px;
        opacity: 1.0;
        z-index: 1000;
        color: #ffffff;
    }
*/
    .input-group-addon {
        background: none;
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0.2);
        //border-radius: 50px 0 0 50px;
        padding-left: 25px;
    }

    input {
        height: 55px;
        //border-radius: 50px;
        background-color: rgba(0, 0, 0, 0.2);
        border: none;
        color: #ffffff;

        &::-webkit-input-placeholder {
            color: #ffffff !important;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: #ffffff !important;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: #ffffff !important;
        }

        &:-ms-input-placeholder {
            color: #ffffff !important;
        }
    } 
    
    button {
        height: 55px;
        //border-radius: 50px;
        background-color: #CD2027;
        border: none;
        color: #ffffff;
    }

    i {
        color: #ffffff;
    }
}
