.profile-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    background-color: #445663;
    color: white;
    height: 94vh;
    position: absolute;
    right: 0;
    width: 40vw;
    top: 6vh;
    padding: 4vh 2.5vw 0 2.5vw;

    #profile-card {
        margin-bottom: 3vh;

        img {
            max-height: 15vh;
        }
    }

    #projects-row {
        tbody tr td {
            font-size: 24px;
            font-weight: 100;
            border-bottom: 1px solid #ddd;
            border-top: none;
        }

        tbody tr:last-child td {
            border-bottom: none;
        }
    }

    #bottom-row {
        // Ugly hack
        position: absolute;
        bottom: 4vh;
        width: 35vw;
    }

    img {
        margin: 0 auto;
        max-width: 100%;
    }

    .firstName, .lastName {
        font-size: 50px;
        line-height: 80%;
    }

    .title {
        margin-top: 3vh;
        font-size: 30px;
    }

    .heading {
        color: #9EA7AD;
    }

    .container {
        width: 100%;
    }

    button {
        background: none;
        border-color: #7B858E;
        font-weight: 100;
    }

    #logout-button {
        text-align: center
    }

    a {
        color: white;
        font-size: 24px;
        cursor: pointer;

        span {
            margin: 10px;
        }
    }
}

#edit-profile-form {
    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    h2:first-child {
        margin-top: 0;
    }

    .toggle-container {
        height: 30px;
        margin: 2vh auto 2vh auto;
        display: flex;
        line-height: 100%;
        align-items: center;

        p, .switch {
            display: inline-block;
            height: 100%;
        }

        p {
            height: 100%;
            align-items: center;
            line-height: 100%;
            display: inline-flex;
            margin: 0 0.5vw 0 0.5vw;
        }

        .toggle {
            position: absolute;
            margin-left: -9999px;
            visibility: hidden;
        }

        .toggle + label {
            display: block;
            position: relative;
            cursor: pointer;
            outline: none;
            user-select: none;
            padding: 2px;
            width: 60px;
            height: 100%;
            background-color: #dddddd;
            border-radius: 60px;
            transition: background 0.4s;
        }

        .toggle + label:before, .toggle + label:after {
            display: block;
            position: absolute;
            content: "";
        }

        .toggle + label:before {
            top: 2px;
            left: 2px;
            bottom: 2px;
            right: 2px;
            background-color: #fff;
            border-radius: 60px;
            transition: background 0.4s;
        }

        .toggle + label:after {
            top: 4px;
            left: 4px;
            bottom: 4px;
            width: 22px;
            background-color: #dddddd;
            border-radius: 52px;
            transition: margin 0.4s background 0.4s;
        }

        .toggle:checked + label {
            background-color: #8ce196;
        }

        .toggle:checked + label:after {
            margin-left: 30px;
            background-color: #8ce196;
        }
    }

}
