#profile-container {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    background-color: #445663;
    color: white;
    height: 94vh;
    position: absolute;
    right: 0;
    width: 40vw;
    top: 6vh;
    padding-top: 5vh;
    text-align: center;

    img {
        margin: 0 auto 5vh auto;
        max-width: 30%;
    }

    p {
        font-size: 70px;
        line-height: 80%;
    }

    p.title {
        margin-top: 3vh;
        margin-bottom: 25vh;
        font-size: 30px;
        color: #9EA7AD;
    }

    .container {
        width: 100%;
    }

    button {
        background: none;
        border-color: #7B858E;
        font-weight: 100;
    }

    a {
        color: white;
        font-size: 24px;
        cursor: pointer;

        span {
            margin: 10px;
        }
    }
}
